{%extends 'base.html' %}

{% block content %}
<h1>Este es el register</h1>
<h1 class="text-center"></h1>

<div class="row">


    <div class="col-4 offset-4">

        <form method="post" accion="{% url 'register'%}">
            <div class="mb-3">
                <label for="" class="form-label text-center">Nombre</label>
                <input type="text" name="username" class="form-control" >
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Ingrese password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password1">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword2" class="form-label">Repita password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password2">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
        <p>Si ya tienes cuenta <a href="/accounets/register"> accede</a></p>
    </div>
</div>

{% endblock %}