.card {
    transition: transform 0.4s ease;
}

.card:hover{
    transform: scale(1.05);
}

footer {
    background-color: rgb(62, 231, 62) !important;
}

header{
    background-color: rgb(209, 135, 39) !important;
}

form{
    background-color: rgb(34, 30, 30) !important;
}
#formulariod{
    background-color: rgb(43, 42, 42)!important;
}

