.card {
    transition: transform 0.4s ease;
    /* background-color: aquamarine; */
}

.card-body, .card-title, .card-text, .list-group, .list-group-item{
    background-color: rgb(232, 235, 84);
    }
    
    
.card:hover{
        transform: scale(1.05);
        }
        
body {background-color:rgb(232, 235, 84)}
        
.bg-body-tertiary  {
    background-color: rgb(173, 228, 151) !important;
}

header{
    background-color: rgb(209, 135, 39) !important;
}

.bg-body-tet {
    background-color: rgb(241, 81, 81);
}


